# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/workspace.xml
.idea
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_9.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_9.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_22.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_22.xml
.idea/libraries/Maven__org_slf4j_log4j_over_slf4j_1_7_22.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_22.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_1_5_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_1_5_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_1_5_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_1_5_1_RELEASE.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_17.xml
.idea/uiDesigner.xml
src/main/resources/spring/
src/test/
target/generated-sources/
